# C-sharp/vscode ignores
.vs
.vscode
bin
obj

**/.idea
*.iml

docs/_site
docs/Gemfile.lock

exercises/java/out
exercises/java/.gradle
exercises/java/build/

*.pyc

vendor/
.phpunit.*

exercises/typescript/node_modules

exercises/kotlin/.idea
exercises/kotlin/.gradle
exercises/kotlin/build